<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpg' %>
  </div>

  <div id="content">
    <h1>Paleo crucifix mlkshk</h1>
    <p>
      Kale chips man braid poutine, retro tote bag letterpress scenester whatever normcore. Cred irony shabby chic, lumbersexual cold-pressed viral man braid pinterest twee green juice letterpress banjo tilde actually. Irony gochujang artisan meggings schlitz waistcoat. Sustainable humblebrag drinking vinegar lo-fi.
    </p>
    <p>
      Paleo crucifix mlkshk fingerstache plaid, quinoa thundercats hella selvage ethical pork belly try-hard retro. Swag ugh put a bird on it, listicle gastropub polaroid viral church-key. Tofu mlkshk viral food truck ramps.
    </p>
  </div>
</div>
